@import '../../shared/styles/colors.scss';
.MainContainer{
    background-color: $blue;
    position: absolute;
    top: 0;
    left: 0;
    //visual height
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .HeaderContainer{
        background-color: $bluew;
        height: 8%;
        display: flex;
        justify-content: space-between;
        .HeadItem{            
            width: 33%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-family: "Impact", Charcoal, sans-serif;
            letter-spacing: 2px;
            font-size: 25px;
            img{
                height: 80%;
            }
        }
    }
    .BodyContainer{
        
        height: 92%;
    }
}